@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #af66f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  transition: all 0.5s;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

#sign-in-form,
#register-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#sign-in-container,
#register-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 89%;
  min-height: 470px;
  margin: 20px 0px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#sign-in,
#register {
  left: 0;
  width: 100%;
  z-index: 2;
  /* transform: translateX(100%); */
}

#main-container {
  width: 100%;
  height: 100vh;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  overflow: scroll;
  display: none;
  background-color: white;
}
.route-signin,
.route-register {
  width: 420px;
}
.route-main {
  width: 340px;
  height: 420px;
}

#main {
  padding: 10px;
}

#sync-section {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
#logout-section {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
#force-sync {
  border: 1px solid #8e75ff;
  background-color: #8e75ff;
}

#data-section {
  display: none;
}

.badge {
  color: #fff;
  background-color: #6c757d;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-left: 5px;
  cursor: pointer;
  font-size: 10px;
}
.badge.checked {
  background: #40474e;
  color: #eff4fa;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.hidden {
  display: none;
}
.float-right {
  float: right;
}
#warning-tags {
  display: none;
  color: rgb(194, 5, 5);
  background: #ffdfdf;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
}
.onboarding-message {
  background: #dfeaff;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
}
#title {
  padding: 15px 8px;
  font-size: 15px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
#icon-and-name-wrapper {
  align-items: center;
  display: flex;
}
#icon {
  height: 32px;
  margin-inline-end: 10px;
  width: 32px;
}
.loader {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  opacity: 0.8;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 188px;
  z-index: 2000;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
